
{{- if not .Values.ddns.existingSecret.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}
  labels:
    {{- include "cloudflare-ddns.labels" . | nindent 4 }}
type: Opaque
data:
  apiKey: {{ .Values.ddns.apiKey | b64enc | quote }}
{{- end }}